
<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flag" class="img-thumbnail"/>
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población:</strong>   {{pais.population | number}} hab.
                </li>
                <li class="list-group-item">
                    <strong>Capital:</strong>   {{pais.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Area:</strong>   {{pais.area | number}} Km2.
                </li>
                <li class="list-group-item">
                    <strong>Región:</strong>   {{pais.region}}
                </li>
                <li class="list-group-item">
                    <strong>Fronteras:</strong>   {{pais.borders}}
                </li>
                <li class="list-group-item">
                    <strong>Idiomas:</strong>   {{pais.languages[0].name}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Traducciones:</h3>
            <span class="badge bg-primary mr-1">{{ pais.translations.de }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.fr }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.it }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.pt }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.nl }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.br }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.hr }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.ja }}</span>
            <span class="badge bg-primary mr-1">{{ pais.translations.fa }}</span>
            <br/>
            <h3>Respuesta API RestCountries formato JSON:</h3>
            <pre>
                {{pais | json}}
            </pre>
        </div>
    </div>
</ng-template>
